services:
  postgres:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  api-server:
    build: ./api
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - REDIS_HOST=${REDIS_HOST}
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
  worker:
    build: ./worker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
    postgres_data: